@import 'tailwindcss';
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes dots-bounce {
  25% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  0%, 50%, 100% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-dots-bounce {
	animation: dots-bounce 1.5s infinite;
}
