name: "Server CI"
on:
  push:
    branches: [ "main" ]
    paths:
      - "api/**"
      - ".github/workflows/server-ci.yml"
  pull_request:
    branches: [ "main" ]
    paths:
      - "api/**"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - run: dotnet build ./api/Snapflow.slnx

  test:
    name: Test
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - run: dotnet test ./api/Snapflow.slnx
